@import url("https://fonts.googleapis.com/css2?family=Danfo&family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
  font-family:"Oswald", sans-serif;
  font-size: 20px;
  margin: 0px;
  background-color: #035648;
}

h1,h2,h3 {
  font-family:"Danfo", serif;
  font-weight:bold;
}

a{
  text-decoration: none;

}
